@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Titillium+Web&display=swap');

:root {
    --light-wrapper: #fff;
    --light-input: #efefef;
    --light-button: #eaeaea;
    --light-text:#222;


    --dark-wrapper:#22252D;
    --dark-input: #292D36;
    --dark-button:#272B33;
    --dark-text:#fff;
  }

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    transition: .2s;
    font-family: 'Titillium Web', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(34,37,45,1) 0%, rgba(39,43,51,1) 100%);
    transition: 0.2s;
}

.wrapper{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    background:var(--dark-wrapper);
    height: 98%;
    border-radius: 25px;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}





.input{
    border-radius: 25px;
    background: var(--dark-input);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px 10px;
    align-self: flex-end;
}





#plus-minus img{
    width:20px;
    height: auto;
}


button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--dark-button);
    color:var(--dark-text);
    cursor: pointer;
}

.input button{
    border:none;
    outline:none;
    border-radius: 20px;
    transition: .2s;

}

.theme{
    padding: 20px;
    display: flex;
}

.theme button{
    outline: none;
    border: none;
    height: 45px;
    box-shadow: none;
}
.theme button i {
    font-size: 20px;
}

#light-btn{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#light-btn i{
    opacity: 0.3;
}

#dark-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.red,.red i {
    color:#EE7878;
}
.green,.green i {   
    color:#26EDC9;
}


.input button:hover{
    filter: brightness(0.95);
}


.output{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.upper, .lower{
    gap:10px;
    color:var(--dark-text);
    overflow: hidden;
    user-select: none;
    background: transparent;
    outline: none;
    border: none;
    text-align: end;
    font-size: 30px;

}


.lower{
    display: flex;
    font-size: 40px;
    font-weight:1000;
    gap:0;
    user-select: auto;
}


#operation{
    font-size:13px;
}
